# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# EXTRA
*.idb	
*.pdb
*.idb
*.exp
*.map
*.suo


.suo
.vs
\hk550
\hkx550
\2006DLL\Release
Obj/*


2006DLL/Release/BuildLog.htm
*.idb
2006DLL/Release/vc80.idb
2006DLL/Release/vc80.pdb
ATG/Release/BuildLog.htm
ATG/Release/vc80.idb
ATG/Release/vc80.pdb
LUA/Release/BuildLog.htm
LUA/Release/vc80.idb
LUA/Release/vc80.pdb
*.rsp
HCT300-510
